<!-- <app-breadcrumb [title]="'Checkout'" [breadcrumb]="'Checkout'"></app-breadcrumb> -->
<app-breadcrumb [title]="'breadcrumb.checkout' | translate" [breadcrumb]="'breadcrumb.checkout' | translate"></app-breadcrumb>
<section class="section-b-space">
    <div class="container padding-cls">
        <div class="checkout-page">
            <div class="checkout-form">
                <form>
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 col-xs-12">
                            <!-- <div class="checkout-title">
                                <h3>{{ 'checkout.billing_details' | translate }}</h3>
                            </div>
                            <div class="row check-out">
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">{{ 'form.first_name' | translate }}</div>
                                    <input type="text" name="firstname" [formControl]="checkoutForm.controls['firstname']" value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.firstname.touched && checkoutForm.controls.firstname.errors?.required" class="text text-danger">
                                        {{ 'form.first_name_required' | translate }}
                                    </div>
                                    <div *ngIf="checkoutForm.controls.firstname.touched && checkoutForm.controls.firstname.errors?.pattern" class="text text-danger">
                                        {{ 'form.first_name_letters' | translate }}
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">{{ 'form.last_name' | translate }}</div>
                                    <input type="text" name="lastname" [formControl]="checkoutForm.controls['lastname']" value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.lastname.touched && checkoutForm.controls.lastname.errors?.required" class="text text-danger">
                                        {{ 'form.last_name_required' | translate }}
                                    </div>
                                    <div *ngIf="checkoutForm.controls.lastname.touched && checkoutForm.controls.lastname.errors?.pattern" class="text text-danger">
                                        {{ 'form.last_name_letters' | translate }}
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">{{ 'form.phone' | translate }}</div>
                                    <input type="text" name="phone" [formControl]="checkoutForm.controls['phone']" value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.phone.touched && checkoutForm.controls.phone.errors?.required" class="text text-danger">
                                        {{ 'form.phone_required' | translate }}
                                    </div>
                                    <div *ngIf="checkoutForm.controls.phone.touched && checkoutForm.controls.phone.errors?.pattern" class="text text-danger">
                                        {{ 'form.phone_letters' | translate }}
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">{{ 'form.email' | translate }}</div>
                                    <input type="text" name="email" [formControl]="checkoutForm.controls['email']" value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.email.touched && checkoutForm.controls.email.errors?.required" class="text text-danger">
                                        {{ 'form.email_required' | translate }}
                                    </div>
                                    <div *ngIf="checkoutForm.controls.email.touched && checkoutForm.controls.email.errors?.email" class="text text-danger">
                                        {{ 'form.email_invalid' | translate }}
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="field-label">{{ 'form.country' | translate }}</div>
                                    <select name="country" [formControl]="checkoutForm.controls['country']">
                                        <option value="" selected>{{ 'form.country_select' | translate }}</option>
                                        <option value="India">India</option>
                                        <option value="USA">USA</option>
                                        <option value="Australia">Australia</option>
                                    </select>
                                    <div *ngIf="checkoutForm.controls.country.touched && checkoutForm.controls.country.errors?.required" class="text text-danger">
                                       {{ 'form.country_required' | translate }}
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="field-label">{{ 'form.address' | translate }}</div>
                                    <input type="text" name="address" [formControl]="checkoutForm.controls['address']" value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.address.touched && checkoutForm.controls.address.errors?.required" class="text text-danger">
                                        {{ 'form.address_required' | translate }}
                                    </div>
                                    <div *ngIf="checkoutForm.controls.address.touched && checkoutForm.controls.address.errors?.maxlength" class="text text-danger">
                                        {{ 'form.address_max' | translate }}
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="field-label">{{ 'form.city' | translate }}</div>
                                    <input type="text" name="town" [formControl]="checkoutForm.controls['town']" value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.town.touched && checkoutForm.controls.town.errors?.required" class="text text-danger">
                                        {{ 'form.city_required' | translate }}
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-6 col-xs-12">
                                    <div class="field-label">{{ 'form.state' | translate }}</div>
                                    <input type="text" name="state" [formControl]="checkoutForm.controls['state']" value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.state.touched && checkoutForm.controls.state.errors?.required" class="text text-danger">
                                        {{ 'form.state_required' | translate }}
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-6 col-xs-12">
                                    <div class="field-label">{{ 'form.postal_code' | translate }}</div>
                                    <input type="text" name="postalcode" [formControl]="checkoutForm.controls['postalcode']" value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.postalcode.touched && checkoutForm.controls.postalcode.errors?.required" class="text text-danger">
                                        {{ 'form.postal_code_required' | translate }}
                                    </div>
                                </div>
                            </div> -->
                        </div>

                        <div class="col-lg-6 col-sm-12 col-xs-12">
                            <div class="checkout-details">
                                <div class="order-box">
                                    <div class="title-box">
                                        <div>{{ 'checkout.product' | translate }} <span> {{ 'checkout.total' | translate }}</span></div>
                                    </div>
                                    <ul class="qty" *ngIf='products.length'>
                                        <li *ngFor="let product of products">
                                        	 {{ product.title }} × {{ product.quantity }}
                                        	<!-- <span>
                                                {{ (product.price | discount:product) * productService?.Currency.price | currency:productService?.Currency.currency:'symbol' }}
                                            </span> -->
                                            <div *ngIf="product.isSale; then showDiscountTotalPrice; else showNormalTotalPrice"></div>
                                            <ng-template #showDiscountTotalPrice>
                                                <span>${{ (product.currentTotalPrice * product.quantity) | number:'':'es' }}</span>
                                            </ng-template>
                                            <ng-template #showNormalTotalPrice>
                                                <span>${{ (product.currentBasePrice * product.quantity) | number:'':'es' }}</span>
                                            </ng-template>
                                        </li>
                                    </ul>
                                    <ul class="qty" *ngIf='!products.length'>
                                        <li class="empty-checkout"> {{ 'checkout.products_empty' | translate }} </li>
                                    </ul>
                                    <ul class="sub-total">
                                        <li>
                                        	{{ 'checkout.sub_total' | translate }} <span class="count">${{ getSubTotal | async | number:'':'es'}}</span>
                                        </li>
                                        <li *ngIf='products.length'>
                                        	{{ 'checkout.shipping' | translate }} <span class="count">${{ deliveryAmount | number:'':'es'}}</span>
                                        </li>
                                        <li>
                                            <div class="">
                                                <div class="shopping-option">
                                                    <input type="radio"  name="shipping" id="local-pickup" checked="checked" (click)="isRadioDeliveryChecked()">
                                                    <label for="local-pickup">{{ 'checkout.local_pickup' | translate }}</label>
                                                </div>
                                                <div class="shopping-option">
                                                    <input type="radio" name="shipping" id="free-shipping" (click)="isRadioDeliveryChecked()">
                                                    <label for="free-shipping">{{ 'checkout.delivery' | translate }}</label>
                                                </div>
                                             </div>
                                        </li>
                                    </ul>
                                    <ul class="total">
                                        <li>Total <span class="count">${{ getTotal | async | number:'':'es'}}</span></li>
                                    </ul>
                                </div>

                                <div class="payment-box" *ngIf='products.length'>
                                    <div class="upper-box">
                                        <div class="payment-options">
                                            <ul>
                                                <li>
                                                    <div class="radio-option">
                                                        <input type="radio" [(ngModel)]="payment" [value]="'Webpay'"  name="payment-group" id="payment-1">
                                                        <!-- <label for="payment-1">Webpay <span class="small-text">Webpay plus Normal Integration</span></label> -->
                                                        <label for="payment-1">Webpay Plus<span class="image"><img src="assets/images/webpay/logo_webpay.png" alt="" /></span></label>
                                                    </div>
                                                </li>
                                                <!-- <li>
                                                    <div class="radio-option">
                                                        <input type="radio" [(ngModel)]="payment" [value]="'Stripe'"  name="payment-group" id="payment-2">
                                                        <label for="payment-2">Stripe
                                                            <span class="small-text">Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</span></label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="radio-option paypal">
                                                        <input type="radio" [(ngModel)]="payment" [value]="'Paypal'" name="payment-group" id="payment-3">
                                                        <label for="payment-3">PayPal<span class="image"><img src="assets/images/paypal.png" alt="" /></span></label>
                                                    </div>
                                                </li> -->
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="text-right">
                                        <button type="submit" class="btn-solid btn" [disabled]="!checkoutForm.valid" (click)="webpayCheckout()" *ngIf="payment == 'Webpay'">
                                            {{ 'button.place_order' | translate }}
                                        </button>
                                        <!-- 
                                        <button type="submit" class="btn-solid btn" [disabled]="!checkoutForm.valid" (click)="stripeCheckout()" *ngIf="payment == 'Stripe'">
                                            {{ 'button.place_order' | translate }}
                                        </button>
                                        <ngx-paypal [config]="payPalConfig" *ngIf="payment == 'Paypal'"></ngx-paypal>
                                        -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>