<!-- header start -->
<header class="sticky" [ngClass]="class" [class.fixed]="stick && sticky">
    <div class="mobile-fix-option"></div>
    <div class="top-header dulce-bg-dark" *ngIf="topbar">
      <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="header-contact">
                <ul>
                  <li>{{ 'top_bar.welcome' | translate }}</li>
                  <li><i class="fa fa-phone" aria-hidden="true"></i>{{ 'top_bar.call_us' | translate }}: {{ 'top_bar.phone' | translate }}</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-6 text-right">
              <ul class="header-dropdown">
                <li class="compare">
                  <a [routerLink]="['/tienda/comparar']"><i class="fa fa-random" aria-hidden="true"></i>{{ 'top_bar.compare' | translate }}</a>
                </li>
                <li class="mobile-wishlist">
                  <a [routerLink]="['/tienda/deseados']"><i class="fa fa-heart" aria-hidden="true"></i>{{ 'top_bar.wishlist' | translate }}</a>
                </li>
                <li class="onhover-dropdown mobile-account">
                  <i class="fa fa-user" aria-hidden="true"></i> {{ authStateModel.loggedIn? authStateModel.clientName : 'top_bar.my_account' | translate }}
                  <div *ngIf="authStateModel.loggedIn then ingresar else settings"></div>
                  <ng-template #ingresar>
                    <ul class="onhover-show-div">
                      <li>
                        <a [routerLink]="['/pagina/tablero']">
                          {{ 'top_bar.dashboard' | translate }}
                        </a>
                      </li>
                      <li>
                        <a [routerLink]="['/pagina/ordenes']">
                          {{ 'top_bar.buyOrders' | translate }}
                        </a>
                      </li>
                      <li>
                        <a [routerLink]="['/pagina/configuracion']">
                          {{ 'top_bar.settings' | translate }}
                        </a>
                      </li>
                      <li>
                        <a [routerLink]="" (click)="logout()">
                          {{ 'top_bar.logout' | translate }}
                        </a>
                      </li>
                    </ul>
                  </ng-template>
                  <ng-template #settings>
                    <ul class="onhover-show-div">
                      <li>
                        <a [routerLink]="['/pagina/login']">{{ 'top_bar.login' | translate }}</a>
                      </li>
                      <li>
                        <a [routerLink]="['/pagina/registrar']">{{ 'top_bar.register' | translate }}</a>
                      </li>
                    </ul>
                  </ng-template>
                  <!-- <ul class="onhover-show-div">
                    <li>
                      <a data-lng="en" [routerLink]="['/pagina/login']">
                        {{ 'top_bar.login' | translate }}
                      </a>
                    </li>
                    <li>
                      <a data-lng="es">
                        {{ 'top_bar.logout' | translate }}
                      </a>
                    </li>
                  </ul> -->

                </li>
              </ul>
            </div>
          </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="main-menu border-section border-top-0">
                    <div class="menu-left">
                        <app-left-menu></app-left-menu>
                    </div>
                    <div class="brand-logo layout2-logo headerlogo">
                        <a [routerLink]="['/inicio/dulcelia']">
                            <img [src]="themeLogo" class="img-fluid" alt="logo">
                        </a>
                    </div>
                    <div class="menu-right pull-right">
                        <app-settings></app-settings>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row ">
            <div class="col-lg-12">
                <div class="main-nav-center">
                    <app-menu></app-menu>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header end -->