<!-- breadcrumb start -->
<app-breadcrumb [title]="'404 page'" [breadcrumb]="'404 page'" *ngIf="!orderDetails"></app-breadcrumb>
<!-- breadcrumb End -->

<!-- section start -->
<section class="p-0" *ngIf="!orderDetails">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="error-section">
                    <h1>404</h1>
                    <h2>{{ 'success.not_found' | translate }}</h2>
                    <a [routerLink]="'/home/fashion'" class="btn btn-solid">{{ 'success.back_to_home' | translate }}</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->

<!-- thank-you section start -->
<section class="section-b-space light-layout" *ngIf="orderDetails">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="success-text">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    <h2>{{ 'success.thanks' | translate }}</h2>
                    <p>{{ 'success.msn' | translate }}</p>
                    <p>{{ 'success.transaction_id' | translate }}:{{ orderDetails.orderId }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->

<!-- order-detail section start -->
<section class="section-b-space" *ngIf="orderDetails">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="product-order">
                    <h3>{{ 'success.order_detail' | translate }}</h3>
                    <div class="row product-order-detail" *ngFor="let product of orderDetails.product">
                        <div class="col-3">
                            <img [src]="product.images[0].src" alt="" class="img-fluid">
                        </div>
                        <div class="col-3 order_detail">
                            <div>
                                <h4>{{ 'success.product_name' | translate }}</h4>
                                <h5>{{ product.title }}</h5>
                            </div>
                        </div>
                        <div class="col-3 order_detail">
                            <div>
                                <h4>{{ 'success.quantity' | translate }}</h4>
                                <h5>{{ product.quantity }}</h5>
                            </div>
                        </div>
                        <div class="col-3 order_detail">
                            <div>
                                <h4>{{ 'success.price' | translate }}</h4>
                                <h5>{{ product?.price * productService?.Currency?.price | discount:product | currency:productService?.Currency.currency:'symbol' }}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="total-sec">
                        <ul>
                            <li>{{ 'success.sub_total' | translate }} <span>{{ orderDetails.totalAmount | currency:productService?.Currency.currency:'symbol' }}</span></li>
                            <li>{{ 'success.shipping' | translate }} <span>$00.00</span></li>
                            <li>{{ 'success.tax' | translate }} <span>$00.00</span></li>
                        </ul>
                    </div>
                    <div class="final-total">
                        <h3>{{ 'success.total' | translate }} <span>{{ orderDetails.totalAmount | currency:productService?.Currency.currency:'symbol' }}</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row order-success-sec">
                    <div class="col-sm-6">
                        <h4>{{ 'success.summery' | translate }}</h4>
                        <ul class="order-detail">
                            <li>{{ 'success.order_id' | translate }}: {{ orderDetails.orderId }}</li>
                            <li>{{ 'success.order_date' | translate }}: October 22, 2021</li>
                            <li>{{ 'success.order_total' | translate }}: {{ orderDetails.totalAmount | currency:productService?.Currency.currency:'symbol' }}</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <h4>{{ 'success.shipping_address' | translate }}</h4>
                        <ul class="order-detail">
                            <li>{{ orderDetails.shippingDetails.address }}</li>
                            <li>{{ orderDetails.shippingDetails.state }}</li>
                            <li>{{ orderDetails.shippingDetails.country }}, {{ orderDetails.shippingDetails.postalcode }}</li>
                            <li>{{ 'success.contact_no' | translate }} {{ orderDetails.shippingDetails.phone }}</li>
                        </ul>
                    </div>

                    <div class="col-sm-12 payment-mode">
                        <h4>{{ 'success.payment_method' | translate }}</h4>
                        <p>Pay on Delivery (Cash/Card). Cash on delivery (COD) available. Card/Net banking acceptance subject to device availability.</p>
                    </div>
                    <div class="col-md-12">
                        <div class="delivery-sec">
                            <h3>{{ 'success.expected_date_delivery' | translate }}</h3>
                            <h2>March 21, 2021</h2>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Section ends -->