/*
STYLE: Luxory
black: #0A0908
purple: #49111C
white: #F2F4F3
light-brown: #A9927D
brown: #5E503F

*/


//fonts

$font_0: Lato;
$font_1: sans-serif;
$font-themify: themify;
$font-awesome: FontAwesome;
$assetspath: "/assets/images";

//colors
$white: #ffffff;
$white-dark: #F2F4F3;
$black: #000000;
$dark-font: #0A0908;
$grey-dark: #0A0908;
$font-color:#0A0908;
$grey: #49111C;
$grey-light: #49111C;
$border:#dddada;
$round-border: #F2F4F3;
$grey-lighter: #F2F4F3;
$theme-deafult: #49111C;
$grey-darken: #5E503F;
$grey-link: #A9927D;
$grey-font: #5E503F;
$dark-footer: #2e2726;
$form-bg: #f5f2f2;
$grey-shade: #A9927D;
$darker-footer: #5E503F;
$border-color: #5E503F;
$border-grey: #f1f5f4;
$font-grey: #aaaaaa;
$star-yellow: #49111C;
$border-bottom-g:#5E503F;
$top-header: #49111C;
$header-font: #F2F4F3;
$shadow: #ededed;
$box-border: rgba(236, 236, 236, 0.6588235294117647);
$grey-about: #f7f7f7;
$grey2:#A9927D;
$grey3: #efefef;
$grey4: #5E503F;
$grey5: #A9927D;
$grey6:#0e0c0c;
$sidebar-border: #F2F4F3;
$sidebar-color:#A9927D;
$modal: #49111C;
$bg-color: #d0edff;
$bg-color1: #f1e7e6;
$bg-color2: #A9927D;
$light-grey: #d0edff;
$light-grey: #d0edff;
$pink: #5E503F;
$red: #49111C;
$green: #49111C;
$yellow: #49111C;
$skyblue: #49111C;
$blue: #49111C;
$orange: #49111C;
$purple: #49111C;
$violet: #49111C;
$brown: #5E503F;
$lightgreen: #49111C;
$olive: #49111C;
$navy: #5E503F;
$maroon: #5E503F;
$icon: #A9927D;
$grey-about: #f7f7f7;
$grey01:#111111;
$grey2:#5E503F;
$grey3: #efefef;
$grey4: #5E503F;
$grey5: #5E503F;
$grey6:#6f6f6f;
$grey7:#40494f;
$grey8:#5E503F;
$left-sidebar: #2b2b2b;
$dark-body:#0A0908;
$dark-top:#0A0908;
$color-red:#49111C;
$gradient1: #49111C;
$gradient2: #49111C;

// dark layput variable //
$dark-body:#2b2b2b;
$dark-top:#232323;
$dark-border:#404040;
$dark-link:#cbcbcb;
$dark-span:#929292;
$dark-footer-bg:#383838;

$white-1:#f1f3f5;
$white-2:#eaedef;
$white-3:#e7eaec;
$white-4:#dee2e6;
$white-5:#cfd4da;