<!-- Start Categories List -->
<div class="collection-collapse-block border-0" [class.open]="collapse">
    <h3 class="collapse-block-title" (click)="collapse = !collapse">{{ 'section.category' | translate }}</h3>
    <div class="collection-collapse-block-content">
        <div class="collection-brand-filter">
            <ul *ngIf="isDataLoaded" class="category-list">
                <li>
                    <a [routerLink]="['/tienda/catalogo/' + catalogueName]">{{ 'product.all' | translate }}</a>
                </li>
                <li *ngFor="let category of categories">
                    <!-- <a [routerLink]="['/tienda/catalogo']"
                       [queryParams]="{ idCategory: category.idCategory}">
                        {{ category.name }}
                    </a> -->
                    <a [routerLink]="['/tienda/catalogo/' + catalogueName + '/' , category.idCategory]">{{ category.name }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- End Categories List -->