<app-breadcrumb [title]="'breadcrumb.blog' | translate" [breadcrumb]="'breadcrumb.blog' | translate"></app-breadcrumb>
<!-- section start -->
<section class="section-b-space  blog-page">
    <div class="container">
        <div class="row">
            <!--Blog List start-->
            <div class="col-xl-9 col-lg-8 col-md-7 ">
                <div class="row blog-media">
                    <div class="col-xl-6">
                        <div class="blog-left">
                            <a [routerLink]="'/pages/blog/details'"><img src="assets/dulcelia-demo/blog/blog_02_1000x591.jpg" class="img-fluid" alt=""/></a>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="blog-right">
                            <div>
                                <h6>25 Enero 2018</h6>
                                <a [routerLink]="'/pages/blog/details'"><h4>En Mucho Gusto</h4></a>
                                <ul class="post-social">
                                    <li>{{ 'blog.blog_by' | translate }} : Beatriz Canales </li>
                                    <li><i class="fa fa-heart"></i>  5 {{ 'blog.hits' | translate }}  </li>
                                    <!-- <li><i class="fa fa-comments"></i> 10  Comment</li> -->
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row blog-media">
                    <div class="col-xl-6">
                        <div class="blog-left">
                            <a [routerLink]="'/pages/blog/details'"><img src="assets/dulcelia-demo/blog/blog_03_1000x591.jpg" class="img-fluid" alt=""/></a>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="blog-right">
                            <div>
                                <h6>7 Junio 2015</h6>
                                <a [routerLink]="'/pages/blog/details'"><h4>Una Visita Sorpresa</h4></a>
                                <ul class="post-social">
                                    <li>{{ 'blog.blog_by' | translate }} : Beatriz Canales </li>
                                    <li><i class="fa fa-heart"></i>  5 {{ 'blog.hits' | translate }}  </li>
                                    <!-- <li><i class="fa fa-comments"></i> 10  Comment</li> -->
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row blog-media">
                    <div class="col-xl-6">
                        <div class="blog-left">
                            <a [routerLink]="'/pages/blog/details'"><img src="assets/dulcelia-demo/blog/blog_05_1000x591.jpg" class="img-fluid" alt=""/></a>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="blog-right">
                            <div>
                                <h6>15 Agosto 2009</h6>
                                <a [routerLink]="'/pages/blog/details'"><h4>Reportaje Pyme Mujer</h4></a>
                                <ul class="post-social">
                                    <li>{{ 'blog.blog_by' | translate }} : Beatriz Canales </li>
                                    <li><i class="fa fa-heart"></i>  5 {{ 'blog.hits' | translate }}  </li>
                                    <!-- <li><i class="fa fa-comments"></i> 10  Comment</li> -->
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="row blog-media">
                    <div class="col-xl-6">
                        <div class="blog-left">
                            <a [routerLink]="'/pages/blog/details'"><img src="assets/images/blog/4.jpg" class="img-fluid" alt=""/></a>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="blog-right">
                            <div>
                                <h6>25 Enero 2018</h6>
                                <a [routerLink]="'/pages/blog/details'"><h4>you how all this mistaken idea of denouncing pleasure and praising pain was born.</h4></a>
                                <ul class="post-social">
                                    <li>{{ 'blog.blog_by' | translate }} : Admin Admin </li>
                                    <li><i class="fa fa-heart"></i>  5 {{ 'blog.hits' | translate }}  </li>
                                </ul>
                                <p>Consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            <!--Blog List start-->
            <!--Blog sidebar start-->
            <div class="col-xl-3 col-lg-4 col-md-5">
                <div class="blog-sidebar">
                    <div class="theme-card">
                        <h4>{{ 'blog.recent_blog' | translate }}</h4>
                        <ul class="recent-blog">
                            <li>
                                <div class="media">
                                    <img class="img-fluid" src="assets/dulcelia-demo/blog/blog_02_1000x591.jpg" alt="Generic placeholder image">
                                    <div class="media-body align-self-center">
                                        <h6>25 Enero 2018</h6>
                                        <p>0 {{ 'blog.hits' | translate }}</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <img class="img-fluid" src="assets/dulcelia-demo/blog/blog_03_1000x591.jpg" alt="Generic placeholder image">
                                    <div class="media-body align-self-center">
                                        <h6>7 Junio 2015</h6>
                                        <p>0 {{ 'blog.hits' | translate }}</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <img class="img-fluid" src="assets/dulcelia-demo/blog/blog_05_1000x591.jpg" alt="Generic placeholder image">
                                    <div class="media-body align-self-center">
                                        <h6>15 Agosto 2009</h6>
                                        <p>0 hits</p>
                                    </div>
                                </div>
                            </li>
                            <!-- <li>
                                <div class="media">
                                    <img class="img-fluid" src="assets/images/blog/4.jpg" alt="Generic placeholder image">
                                    <div class="media-body align-self-center">
                                        <h6>25 Ene 2018</h6>
                                        <p>0 {{ 'blog.hits' | translate }}</p>
                                    </div>
                                </div>
                            </li> -->
                            <!-- <li>
                                <div class="media">
                                    <img class="img-fluid" src="assets/images/blog/5.jpg" alt="Generic placeholder image">
                                    <div class="media-body align-self-center">
                                        <h6>25 Ene 2018</h6>
                                        <p>0 {{ 'blog.hits' | translate }}</p>
                                    </div>
                                </div>
                            </li> -->
                        </ul>
                    </div>
                    <div class="theme-card">
                        <h4>{{ 'blog.popupar_blog' | translate }}</h4>
                        <ul class="popular-blog">
                            <li>
                                <div class="media">
                                    <div class="blog-date">
                                        <span>25 </span>
                                        <span>Ene</span>
                                    </div>
                                    <div class="media-body align-self-center">
                                        <h6>En Mucho Gusto</h6>
                                        <p>5 {{ 'blog.hits' | translate }}</p>
                                    </div>
                                </div>
                                <!-- <p>it look like readable English. Many desktop publishing text. </p> -->
                            </li>
                            <li>
                                <div class="media">
                                    <div class="blog-date">
                                        <span>7 </span>
                                        <span>Jun</span>
                                    </div>
                                    <div class="media-body align-self-center">
                                        <h6>Una Visita Sorpresa</h6>
                                        <p>5 {{ 'blog.hits' | translate }}</p>
                                    </div>
                                </div>
                                <!-- <p>it look like readable English. Many desktop publishing text. </p> -->
                            </li>
                            <li>
                                <div class="media">
                                    <div class="blog-date">
                                        <span>15 </span>
                                        <span>Ago</span>
                                    </div>
                                    <div class="media-body align-self-center">
                                        <h6>Reportaje Pyme Mujer</h6>
                                        <p>5 {{ 'blog.hits' | translate }}</p>
                                    </div>
                                </div>
                                <!-- <p>it look like readable English. Many desktop publishing text. </p> -->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--Blog sidebar start-->
        </div>
    </div>
</section>
<!-- Section ends -->