
@font-face {
    font-family: dancing-script;
    src: url('assets/fonts/dancing_script/DancingScript-Regular.ttf') format("opentype");
}

body, header {
    background-color: #FFFFFF;
    // background-color: #F7F1F0;
}

.top-header {
    background-color: #9F496E;
}
.top-header .header-contact li,
.top-header .header-dropdown li,
.top-header .header-dropdown li a {
    color: #F2EBE5;
}

// .breadcrumb-section {
//     background-color: #F2EBE5;
// }

.home-slider {
    padding-top: 30%;
}

.home-slider-title{
    color: #fcf3e3 !important;
    font-family: 'dancing-script', 'arial', sans-serif;
}

.home-slider-subtitle{
    color: #fcefd9 !important;
    font-family: 'dancing-script', 'arial', sans-serif;
}

.about-me-header {
    text-align: center;
    padding: 0px 10% 35px 10%;
    text-transform: none !important;
}

.about-me-paraph {
    text-align: left;
    padding: 0px 10% 20px 10%;
}

.shop-header {
    padding-left: 15%;
    padding-right: 15%;
}

.shop-header-title {
    text-transform: none;
}