
@font-face {
    font-family: dancing-script;
    src: url('assets/fonts/dancing_script/DancingScript-Regular.ttf') format("opentype");
}

body, header {
    background-color: #FFFFFF;
    // background-color: #F7F1F0;
}

.top-header {
    background-color: #9F496E;
}
.top-header .header-contact li,
.top-header .header-dropdown li,
.top-header .header-dropdown li a {
    color: #F2EBE5;
}

// .breadcrumb-section {
//     background-color: #F2EBE5;
// }

.home-slider {
    padding-top: 30%;
}

.home-slider-title{
    color: #fcf3e3 !important;
    font-family: 'dancing-script', 'arial', sans-serif;
}

.home-slider-subtitle{
    color: #fcefd9 !important;
    font-family: 'dancing-script', 'arial', sans-serif;
}

.about-me-header {
    text-align: center;
    padding: 0px 10% 35px 10%;
    text-transform: none !important;
}

.about-me-paraph {
    text-align: left;
    padding: 0px 10% 20px 10%;
}

.shop-header {
    padding-left: 15%;
    padding-right: 15%;
}

.shop-header-title {
    text-transform: none;
}

.cart-product-title {
    font-size: 1.2em !important;
    margin-bottom: 10px !important;
}
.cart-product-subtitle {
    font-size: 0.9em !important;
}

.input-error {
    font-size: 12px;
    padding-left: 5px;
    font-weight: lighter;
}

.terms-header {
    text-align: center;
    padding: 0px 10% 35px 10%;
    text-transform: none !important;
    font-size: 1.1em;
}

.terms-section {
    text-align: left;
    padding: 0px 10% 40px 10%;
}

.terms-section-header {
    text-align: left;
    padding-bottom: 30px;
    text-transform: none !important;
    font-size: 1em;
}

.terms-section-p-header {
    text-align: left;
    padding-bottom: 15px;
    text-transform: none !important;
    font-size: 1em;
}

.terms-section-p {
    text-align: left;
    padding-bottom: 20px;
    text-transform: none !important;
    font-size: 1em;
}

.terms-section-point {
    text-align: left;
    padding-bottom: 20px;
    padding-left: 5%;
    text-transform: none !important;
    font-size: 1em;
}

.terms-section-subpoint {
    text-align: left;
    padding-bottom: 20px;
    padding-left: 10%;
    text-transform: none !important;
    font-size: 1em;
}

.sin-gluten-header {
    max-height: 50px;
    max-width: 50px;
    padding-left: 5%;
}

.sin-gluten-menu {
    margin-top: 15px;
    max-height: 80px;
    max-width: 80px;
    padding-left: 5%;
}

.sin-gluten-box {
    text-align: center;
    margin-top: 50px;
}

.sin-gluten-product {
    max-height: 100px;
    max-width: 100px;
}

.sin-gluten-footer {
    max-height: 80px;
    max-width: 80px;
    padding-left: 5%;
}